ENV_MODE = local

DB_HOST = 
DB_USER = 
DB_PASSWORD = 
DB_NAME = 

PARQUET_PATH = ./setup/seeder_vektor_hoaks.parquet
CSV_PATH = ./setup/data_hoaks.csv
MODEL_NAME = paraphrase-multilingual-MiniLM-L12-v2
MODEL_DIR = ./models/sentence-transformer
NLI_MODEL_NAME = MoritzLaurer/Multilingual-MiniLMv2-L6-mnli-xnli #joeddav/xlm-roberta-large-xnli
NLI_MODEL_DIR = ./models/nli
TEXT_CLASSIFIER_MODEL_PATH = ./models/rf_model.pkl
IMG_CLASSIFIER_MODEL_PATH = ./models/all_models_robust_1.pkl
DISTANCE_MODEL_PATH = ./models/model_2.keras
CHROMA_DIR = ./chroma_db
COLLECTION_NAME = lensa_hoaks

SEARX_URL =

GOOGLE_API_KEY = 

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

SERPAPI_KEY = 