.setting-page{
    padding: 5px 10px;
}

/* HEADER */
.setting-header h1{
    font-size: 28px;
    font-weight: 700;
    color: #222;
    margin-bottom: 0;
}

.setting-header p{
    margin-top: 6px;
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}

.setting-header{
    margin-bottom: 25px;
}

/* CARD */
.setting-box{
    background: #fff;
    border-radius: 16px;
    padding: 24px;
    width: 375px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.05);
}

/* INPUT GROUP */
.input-group-setting{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.input-group-setting label{
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-bottom: 12px;
}

/* INPUT */
.time-input{
    width: 320px;
    height: 58px;
    padding: 0 18px;
    border: 1px solid #ddd;
    border-radius: 14px;
    font-size: 18px;
    outline: none;
    transition: 0.3s;
}

.time-input:focus{
    border-color: #c41212;
    box-shadow: 0 0 0 4px rgba(196,18,18,0.15);
}

/* BUTTONS */
.setting-actions {
    display: flex;
    gap: 12px;
    margin-top: 20px;
    align-items: center;
}

.save-btn{
    background: #c41212;
    color: white;
    border: none;
    height: 52px;
    padding: 0 16px;
    border-radius: 14px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.save-btn:hover{
    background: #a50f0f;
}

/* BUTTON PERBARUI SEKARANG (BARU) */
.sync-btn {
    background: #4b5563;
    color: white;
    border: none;
    height: 52px;
    padding: 0 16px;
    border-radius: 14px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.3s;
}

.sync-btn:hover {
    background: #374151;
}

.notif {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 12px 16px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    transition: 0.3s ease;
    z-index: 9999;
}

.notif.hidden {
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
}

.notif.success {
    background: #22c55e;
}

.notif.error {
    background: #ef4444;
}