/* =========================
   CONTAINER
========================= */
.user-container {
    margin-top: 10px;
}

/* =========================
   TABLE CARD STYLE
========================= */
.user-table {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 18px rgba(0,0,0,0.05);
}

/* TABLE */
.user-table table {
    width: 100%;
    border-collapse: collapse;
}

/* HEADER */
.user-table th {
    background: #b8201d;
    text-align: left;
    padding: 14px;
    font-weight: 600;
    color: #fff;
}

/* BODY */
.user-table td {
    padding: 14px;
    border-top: 1px solid #eee;
    color: #444;
}

/* HOVER */
.user-table tr:hover {
    background: #fafafa;
}

/* =========================
   PAGINATION
========================= */

.pagination-wrapper{
    display:flex;
    justify-content:flex-end;
    margin-top:20px;
}

.pagination-wrapper a{

    padding:12px 18px;

    border:1px solid #ddd;

    text-decoration:none;

    color:#444;
    background:#fff;

    transition:0.3s;

    margin-left:-1px; /* biar nyambung */
}

.pagination-wrapper a:first-child{
    border-radius:10px 0 0 10px;
}

.pagination-wrapper a:last-child{
    border-radius:0 10px 10px 0;
}

.pagination-wrapper a:hover{
    background:#c71919;
    color:white;
}

.page-number.active{
    background:#c71919;
    color:white;
    border-color:#c71919;
}

/* tombol disable */

.pagination-wrapper .disabled{

    pointer-events:none;

    background:#f3f3f3;
    color:#999;
}

/* Previous dan Next lebih lebar */

.pagination-wrapper a:not(.page-number){

    padding:12px 20px;
}